:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

body {
  font-family: 'Arial', sans-serif; /* Replace 'Arial' with your desired font */
}

a {
  padding-left: 4px;
  padding-right: 4px;
}

.header {
  margin-left: 5%;
}

.button {
  text-decoration: none;
  display: inline-block;
  height: 26px;
  margin: 5px;
  background-color: #3b97eeb9;
  border-width: 0.1px;
  border-color: #d4d4d473;
  border-radius: 10px;
  overflow: hidden;
  color: #fff;
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  cursor: pointer;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 3px 0 rgba(0,0,0,.12);
  transition: all 0.2s;

  &:hover {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 4px 3px -2px rgba(0,0,0,.2),0 3px 6px 0 rgba(0,0,0,.12);
    top: -2px;
    transform: translateY(-2px);
    }
  
    &:active {
      box-shadow: 0 0 0 0 rgba(0,0,0,.14),0 0 0 0  rgba(0,0,0,.2),0 0 0 0  rgba(0,0,0,.12);
      transform: translateY(2px);
    }
}

.ticket-action {
  margin-right: 10px;
  border: none;
}

.ticket-list {
  margin:auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  border: 1px solid #ddd;;
}

.queue-display-header {
  display: flex;
  background-color: #f2f2f2;
  font-weight: bold;
}

.queue-display-name {
  font-weight: 500;
  font-size: 26px;
  margin: 10px;
}

.ticket-row {
  display: flex;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.ticket-column, .ticket-cell {
  flex: 1;
  padding: 8px;
  text-align: left;
}

.ticket-row:nth-child(even) {
  background-color: #f9f9f9;
}

.ticket-row:hover {
  background-color: #ddd;
}

.ticket-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.ticket-details {
  flex: 1;
}

.ticket-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 2px solid #ddd;
}

.ticket-header h1 {
  margin: 0;
}

.ticket-status {
  background-color: #ddd;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

.ticket-content {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.ticket-main {
  flex: 3;
  margin-right: 20px;
}

.ticket-section {
  margin-top: 20px;
}

.ticket-section h2 {
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}

.ticket-section p {
  margin: 5px 0;
}

.sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.requestor-info {
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
}

.requestor-info h2 {
  margin-top: 0;
}

.requestor-info p {
  margin: 5px 0;
}

.queues-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-left: 10px;
}

.queue-bubble {
  background-color: #e0f7fa;
  border: 1px solid #00796b;
  border-radius: 15px;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.3s;
}

.queue-bubble:hover {
  background-color: #b2ebf2;
}

.new-queue {
  background-color: #ffffff;
  border: 1px dashed #00796b; 
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%; 
}

.new-queue input {
  border: none; 
  outline: none;
  flex: 1; 
  padding: 5px; 
}

.new-queue button {
  background-color: #00796b; 
  color: white; 
  border: none; 
  border-radius: 5px; 
  padding: 5px 10px;
  margin-left: 10px; 
  cursor: pointer; 
}

.new-queue button:hover {
  background-color: #004d40; 
}

.delete-queue {
  background-color: transparent; 
  color: #e57373;
  border: none; 
  cursor: pointer; 
}

.delete-queue:hover {
  text-decoration: underline; 
}

.comment {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
  position: relative;
}

.comments-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.comments-header h2 {
  margin: 0;
}

.username {
  color: #2c3e50;
}

.date {
  color: #7f8c8d;
  font-size: 0.9em;
  position: absolute;
  top: 10px;
  right: 10px;
}

.comment-content {
  margin-top: 10px;
  line-height: 1.5;
}

.new-form textarea {
  width: 60%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  resize: vertical; /* Allows the user to resize the textarea vertically */
}

.new-form .button-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.new-form .button {
  margin-left: 10px;
}

.green { background-color: #33df75 }

.blue { background-color: #3b97eeb9 }
